@import "main.less";

body {
  height: 95vh;
  padding: 0px;
}

#outer-container {
  height: 100%;
  background-color: @primary-color;
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  font-family: 'Lato-regular', sans-serif;
  border-radius: 10px; 
  padding: 20px;
  width: 40%;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input {
      margin: 20px;
      padding: 10px;
      background-color: rgb(220, 220, 220);
      font-size: large;
    }

    button {
      margin: 20px;
    }
  }

  h1 {
    color: @dark-primary-color;
  }
}

