<!DOCTYPE html>
<html>

<head>
    <title>Pythin2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="top">
        <div class="right-container">
            <button class="login-button" onclick="window.location.href='/login.html'">Login</button>
            <button class="register-button">Register</button>
        </div>
    </div>
    <div class="content">
        <div class="center-container">
            <h1 class="welcome">Welcome to Pythin2</h1>
        </div>
        <div class="center-container">
            <button class="play-button">Play</button>
        </div>
    </div> 
</body>

</html>
