<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Pythin2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="top">
        <div class="right-container">
            <button class="login-button">Login</button>
            <button class="register-button">Register</button>
        </div>
    </div>
    <div class="content">
        <h1>Welcome to Pythin2!!!</h1>
        <div class="center-container">
            <button class="play-button">Play</button>
        </div>
    </div> 
</body>

</html>
