<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
</head>

<body>
    <div class="user-container" id="register-container">
        <h1>Register</h1>
        <form action="{{ url_for('user.register') }}" method="POST">
            <input type="text" id="username" name="username" placeholder="Enter username" required>
            <input type="password" id="password" name="password" placeholder="Enter password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>

</html>
    
</body>

</html>
